aenum==3.1.15
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
asyncio==3.4.3
attrs==24.2.0
black==24.10.0
certifi==2024.8.30
click==8.1.7
dataclasses-json==0.6.7
deepgram-sdk==3.7.5
deprecation==2.1.0
distro==1.9.0
filelock==3.16.1
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
jiter==0.6.1
MarkupSafe==3.0.2
marshmallow==3.23.0
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
nvidia-nvjitlink-cu12==12.4.127
openai==1.52.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
propcache==0.2.0
PyAudio==0.2.14
pydantic==2.9.2
pydantic_core==2.23.4
python-dotenv==1.0.1
setuptools==75.2.0
sniffio==1.3.1
tqdm==4.66.5
typing-inspect==0.9.0
typing_extensions==4.12.2
webrtcvad==2.0.10
websockets==13.1
yarl==1.16.0
